@charset "UTF-8";
/* CSS Document */

img{
	width: 90%;
}

.quote{
	background: rgba(0,0,0,0.30);	
	color: white;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif
	width: 90%;
}

h2{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #CCC;
	font-size: 1rem;
}

.box1{
	/*background:pink;*/
	width: 25%;
	float:left;
	padding:10px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box2{
	/*background:blue;*/
	width:25%;
	float:left;
	border-left: 1px solid#999;
	padding:10px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box3{
	/*background:green;*/
	width:25%;
	float:left;
	border-left: 1px solid#999;
	padding:10px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
